.oi {
    position: absolute;
    width: 155.41px;
    height: 36.69px;

    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 30px;
    line-height: 35px;
    text-align: center;

    color: #FFFFFF;
}