.jumbotron{
  background: transparent;
}

.h1Text{
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 48px;
  color: #1CDC6E;
}

.textBody{
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 28px;
  color: #FFFFFF;
}

.btn-primary {
  background: rgba(28, 220, 110, 0.9);
  border-radius: 5px;   
}
.btn-secondary {
  background: #424242;
  border-radius: 5px;
  border-style : none;;
}